<header style="margin-left: 16rem;">
  <section class="row justify-content-center">
    <div class="col text-center">
      <div class="row my-2 my-xl-3">
	      <h1 class="mx-auto"><a style="color: #e36c0a;" href="/">{{ site.title }}</a></h1>
      </div>
      <div class="row mt-xl-4 justify-content-around">
	      <span class="col col-lg-5 col-xl-6 d-flex flex-column">
          <b><a href="#"><img class="icon mb-1" src="/images/icon-phone.svg" />+7 3812 373-378</a></b>
          <b>Химические средства защиты растений</b>
          <span class="row flex-lg-column flex-xl-row mx-auto mt-2">
            <span><img class="icon mr-1 hidden-xl-up" src="/images/icon-leaf.jpg" />продажи</span>
            <span><img class="icon mx-xl-1 mr-1" src="/images/icon-leaf.jpg" />консультации</span>
            <span><img class="icon mx-xl-1 mr-1" src="/images/icon-leaf.jpg" />сопровождение</span>
          </span>
        </span>
        <span class="col col-lg-5 col-xl-6 d-flex flex-column">
          <b><a href="#"><img class="icon-md" src="/images/icon-mail.svg" />td-urojai@mail.ru</a></b>
          <b>Зерновые, масличные культуры</b>
          <span class="row flex-lg-column flex-xl-row mx-auto mt-2">
            <span><img class="icon mr-1 hidden-xl-up" src="/images/icon-wheat.jpg" />закупки</span>
            <span><img class="icon mx-xl-1 mr-1" src="/images/icon-wheat.jpg" />продажи</span>
            <span><img class="icon mx-xl-1 mr-1" src="/images/icon-wheat.jpg" />хранение</span>
          </span>
        </span>
      </div>
    </div>
  </section>
</header>