<header class="collapse-mobile header">
  <section class="row justify-content-center">
    <img onclick="toggleNav()" class="icon-lg mobile-nav-trigger hidden-lg-up" src="{{site.baseurl}}/images/mobile-nav-icon.svg" />
    <div class="col text-center">
      <div class="row my-2 my-lg-4">
	      <h1 class="mx-auto"><a style="color: #e36c0a;" href="{{site.baseurl}}/">{{ site.title }}</a></h1>
      </div>
      <div class="row mt-4">
	      <span class="col-md-6 d-flex flex-column">
          <b><a href="#"><img class="icon mb-1" src="{{site.baseurl}}/images/icon-phone.svg" />+7 3812 373-378</a></b>
          <b class="my-0 my-md-2">Химические средства защиты растений</b>
          <span class="row mx-auto hidden-sm-down sub-items">
            <span><a href="{{site.baseurl}}/sales/">продажи</a></span>
            <span>
              <img class="icon ml-md-1" src="{{site.baseurl}}/images/icon-leaf.jpg" />
              <a href="{{site.baseurl}}/consultations/">консультации</a>
            </span>
            <span>
              <img class="icon ml-md-1" src="{{site.baseurl}}/images/icon-leaf.jpg" />
              <a href="{{site.baseurl}}/maintenance/">сопровождение</a>
              </span>
          </span>
        </span>
        <span class="col-md-6 d-flex flex-column">
          <b><a href="#"><img class="icon-md" src="{{site.baseurl}}/images/icon-mail.svg" />td-urojai@mail.ru</a></b>
          <b class="my-0 my-md-2">Зерновые, масличные культуры</b>
          <span class="row mx-auto hidden-sm-down sub-items">
            <span><a href="{{site.baseurl}}/cereals-buy/">закупки</a></span>
            <span>
              <img class="icon ml-md-1" src="{{site.baseurl}}/images/icon-wheat.jpg" />
              <a href="{{site.baseurl}}/cereals-sell/">продажи</a>
            </span>
            <span>
              <img class="icon ml-md-1" src="{{site.baseurl}}/images/icon-wheat.jpg" />
              <a href="{{site.baseurl}}/cereals-storing/">хранение</a>
            </span>
          </span>
        </span>
      </div>
    </div>
  </section>
</header>