<sidebar class="h-100 collapse-mobile sidebar">
  <div class="logo">
    <img src="{{site.baseurl}}/images/logo.jpg" />
  </div>

  <ul class="p-2 mt-2 nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="{{site.baseurl}}/">Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/sales/">Агрохимия</a>
      <ul  class="list-unstyled">
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/sales/">Продажи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/consultations/">Консультации</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/maintenance/">Сопровождение</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/cereals-buy/">Зерновые, масличные</a>
      <ul class="list-unstyled">
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/cereals-buy/">Закупки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/cereals-sell/">Продажи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/cereals-storing/">Хранение</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/cereals-shipment/">Отгрузка</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/contact/">Контакты</a>
    </li>
  </ul>
</sidebar>
