<sidebar class="h-100 collapse-mobile sidebar">
  <div class="logo">
    <img src="/images/logo.jpg" />
  </div>

  <ul class="p-2 mt-2 nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/">Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sales/">Агрохимия</a>
      <ul  class="list-unstyled">
        <li class="nav-item">
          <a class="nav-link" href="/sales/">Продажи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/consultations/">Консультации</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/maintenance/">Сопровождение</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cereals-buy/">Зерновые, масличные</a>
      <ul class="list-unstyled">
        <li class="nav-item">
          <a class="nav-link" href="/cereals-buy/">Закупки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cereals-sell/">Продажи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cereals-storing/">Хранение</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cereals-shipment/">Отгрузка</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">Контакты</a>
    </li>
  </ul>
</sidebar>
