// content area styling goes here

.content {
  margin-left: 16rem;
  transition: all .275s ease;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    margin-left: 0;


    .page-title {
      text-align: center;
    }

    .page-title-icon {
      margin-left: -2rem;
    }
  }

  @include media-breakpoint-down(md) {
    margin-left: 12rem;
    margin-right: -12rem;

    &.collapse-mobile {
      margin-left: 0;
      margin-right: 0;
    }
  } 
}
