footer {
  .copyright {
    white-space: nowrap;
    font-size: $font-size-sm;
    color: $gray-light;
    bottom: 1rem;
    margin-left: 18rem;
  }

  @include media-breakpoint-down(md) {
    .copyright {
      margin-left: 13rem;
      margin-right: -13rem;
    }

    &.collapse-mobile {
      .copyright {
        margin-left: 1rem;
        margin-right: 0;
      }
    }
  }
}