// Header styling goes here

header {
  font-size: $font-size-lg;
  height: 16rem;
  margin-left: 16rem;
  background: #f7f7f9;
  transition: all .275s ease;
  position: relative;

  a:hover {
    text-decoration: none;
  }

  @include media-breakpoint-down(lg) {
    font-size: $font-size-base;
  }

  @include media-breakpoint-down(md) {
    margin-left: 12rem;
    margin-right: -12rem;
    height: 12rem;

    h1 {
      font-size: 2.4rem;
    }
    
    .mobile-nav-trigger {
      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
      cursor: pointer;
      z-index: 2000;
    }

    &.collapse-mobile {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @include media-breakpoint-down(sm) {

    h1 {
      font-size: $font-size-lg;
      padding-top: 0.5rem;
    }
  }

  @include media-breakpoint-down(xs) {

    h1 {
      font-size: 1.125rem;
      padding-top: 0.7rem;
    }
  }
}
