// Header styling goes here

header {
  font-size: $font-size-lg;
  height: 16rem;
  margin-left: 16rem;
  background: #f7f7f9;
  transition: all .275s ease;

  a:hover {
    text-decoration: none;
  }

  @include media-breakpoint-down(lg) {
    font-size: $font-size-base;
  }

  @include media-breakpoint-down(md) {
    margin-left: 12rem;
    top: 0;
    height: 12rem;
    position: fixed;
    width: 100%;

    h1 {
      font-size: 2.4rem;
    }
    
    .mobile-nav-trigger {
      position: absolute;
      top: 1rem;
      left: 1rem;
      cursor: pointer;
      z-index: 2000;
    }

    &.collapse-mobile {
      margin-left: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    height: 10rem;

    h1 {
      font-size: $font-size-lg;
    }
  }
/*
  &.header-mobile {
    height: 6rem;
    position: fixed;
    top: 0;
    left: 10rem;
    transition: all .5s ease;

    .logo-mobile {
      width: 6rem;
      height: 6rem;
    }
    
    h1 {
      font-size: $font-size-lg;
    }

    @include media-breakpoint-down(xs) {
      height: 4.8rem;

      .logo-mobile {
        width: 4.8rem;
        height: 4.8rem;
      }

      h1 {
        font-size: $font-size-base;
      }
      
    }

    nav {
      background: $gray-lightest;
      margin-left: -10rem;
      width: 10rem;
      height: 10rem;
    }
  }

  &.header-mobile.collapse-mobile {
    left: 0;
  }
  */
}
