// Sidebar styling goes here 

sidebar {
  position: fixed;
  top: 0;
  font-size: $font-size-lg;
  height: 100%;
  background: $gray-lightest;
  width: 16rem;
  transition: all .275s ease;

  img {
    width: 100%;
  }

  .logo {
    width: 16rem;
    background: $white;
  }

  .nav-item .nav-item {
    margin: 0rem 1rem;
    border-bottom: 1px rgba(#a8a8a8, .25) solid;

    .nav-link {
      padding: 0.5em
    }
  }

  @include media-breakpoint-down(md) {
    width: 12rem;
    margin-left: 0;
    font-size: $font-size-base;

    .logo {
      width: 12rem;
    }

    .nav-item {
      .nav-link {
        padding: 1.325em 0.25em 0.5em;
      }
    }

    &.collapse-mobile {
      margin-left: -12rem;
    }
  }

  @include media-breakpoint-down(md) {

  }
}